<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="!prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [paymentId=%X{paymentId:-}] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>false</includeCallerData>
                <includeMdcKeyNames>paymentId</includeMdcKeyNames>
                <customFields>{"service":"payment-service"}</customFields>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>

    <logger name="com.langa.dev" level="DEBUG"/>
    <logger name="org.springframework.amqp" level="WARN"/>
    <logger name="org.hibernate.SQL" level="WARN"/>

</configuration>
